*{
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #BBC7CE;
}
header {
    width: 100%;
    height : 40px;
    background-color: #26547C;
    padding: 1rem 0;
    top: 0;
    box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
}
h1{
    color:white;
    margin: 10px 0;
}
nav {
    position: relative;
    float: right;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 10px 0;
}
.nav-link {
    color:hsl(0, 100%, 100%);
    margin: 0 0.3rem;
    padding: 0 0.6rem;
}  
.nav-link:hover {
    color: #647AA3;
    border-bottom: 2px solid black;
}
.nav-link:active {
    color: rgba(255, 99, 71, 0.6);
}
#research{
    margin: 25px;
    
}
#program{
    margin: 25px;
    text-decoration: underline overline;
}
#other{
    margin: 25px;
}
iframe{
    float: right;
    min-width: 50%;
}